<!-- Main Section -->
  <main class="container mx-auto px-4 mt-6 py-6">
    <!-- Présentation -->
    <section class="bg-white dark:bg-gray-800 p-6 rounded-lg shadow-md text-center">
      <h2 class="text-3xl font-semibold text-gray-800 dark:text-gray-200">Organisez vos tâches efficacement</h2>
      <p class="text-gray-600 dark:text-gray-400 mt-2">Ajoutez, suivez et complétez vos tâches facilement.</p><br>
      <a routerLink="/addTask"
        class="mt-4 px-6 py-2 bg-blue-600 dark:bg-blue-700 text-white rounded-lg hover:bg-blue-700 dark:hover:bg-blue-800 transition">+
        Ajouter une Tâche</a>
    </section>

    <!-- Liste des Tâches -->
    <app-task-list></app-task-list>
  </main>

